* {
    margin: 0;
}
#button1, #button2, #button3, #button4{
    background-color: #4CAF4F;
    color: #fff;
    padding: 10px 30px 10px 30px;
}
#logo1{
    font-weight: bold;
}
#main1, #main2{
    background-color: #F5F7FA;
}
.secondline{
    color: #4CAF4F;
    font-size: 500px;
}
#main1{
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#secondline{
    color: #4CAF4F;
    font-size: 60px;
}
#firstline{
    font-size: 60px;
}
#underline{
    color: #717171;
    line-height: 70px;
}
#ourclients, #manage, #card1top, #card2top, #card3top, #spending{
    color: #4D4D4D;
}
#ourclientsunderline, #manageunderline, #card1under, #card2under, #card3under, #lorem, #underline1{
    color: #717171;
}
#logo1, #logo2, #logo3, #logo4, #logo5, #logo6, #logo7{
    width: 60px;
}
.card1, .card2, .card3{
    display: inline-block;
    width: 80%;
    box-shadow: 0px 1.39214px 2.78428px rgba(171, 190, 209, 0.2);
}
#card1under, #card2under, #card3under{
    padding-top: 15px;
}
#rafiki1{
    width: 100%;
}
#lorem{
    padding-top: 20px;
}
#spending{
    padding-top: 100px;
    font-size: 35px;
}
#underline1{
    color: #18191F;
    font-size: 15px;
}
#secondline1{
    color: #4CAF4F;
    font-size: 30px;
}
#firstline1{
    color: #4D4D4D;;
    font-size: 30px;
}
#pana{
    width: 80%;
}
#maecenas{
    color: #4D4D4D;;
}
#tim, #meetcustomers{
    color: #4CAF4F;
    font-size: 20px;
    font-weight: 600;
}
#british{
    color: #89939E;
}
.card4, .card5, .card6{
    border-radius: 5px;
}
#button4{
    margin-top: 30px;
}
#footer1{
    color: white;
}
#logotext{
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
}
#footer3{
    font-weight: 500;
    font-size: 20px;
}
#search1{
    background-color:#515B60; 
    color: #D9DBE1; 
    border-radius: 5px;
    box-shadow: 0;
    border: none;
    padding: 10px;
    background: #515B60 url(/assets/send.svg) 210px 17px no-repeat;
    padding-right: 50px;
}